In [1]:
import pandas as pd

data_b1 = pd.read_excel('Data\Instances\Large_Instances.xlsx', sheet_name='B1', index_col=0)
data_b1.head()

                X          Y  demand  lsp designation
Number
1       14.341022  10.221396       0  1.0           d
2       49.281272  40.161319       0  2.0           d
3       14.532059  18.241839       0  1.0           s
4       40.264580  30.524851       0  2.0           s
5       15.868504  37.159370       0  1.0           s

In [5]:
customers = data_b1[data_b1['designation']=='c'].drop(columns=['designation'])
customers

                X          Y  demand  lsp
Number
7       45.888292  34.666294      10  1.0
8       31.537436  39.570036      10  2.0
9       28.222402  32.773488      10  1.0
10      33.974548  35.860322      10  2.0
11      44.815629  27.955449      10  1.0
12      33.145951  12.634320      10  2.0
13      23.761131  30.514196      10  1.0
14      32.982326  48.467387      10  2.0
15      44.956729  23.648450      10  1.0
16      19.824770  21.896420      10  2.0
17      34.669742  24.783159      10  1.0
18      37.666527  38.288582      10  2.0
19      31.507600  22.496970      10  1.0
20      22.167889  27.642684      10  2.0
21      41.235026  13.659386      10  1.0
22      22.658372  23.570658      10  2.0
23      27.099845  41.221162      10  1.0
24      40.511849  23.971760      10  2.0
25      26.794691  25.465072      10  1.0
26      32.623297  30.895261      10  2.0
27      36.025874  43.087107      10  1.0
28      32.743523  19.157553      10  2.0
29      43.886329  41.536448      10  1.0
30      23.199528  13.460519      10  2.0

In [8]:
customers.to_dict('index')

{7: {'X': 45.88829155095134, 'Y': 34.66629416373203, 'demand': 10, 'lsp': 1.0},
 8: {'X': 31.53743631362057, 'Y': 39.57003567688655, 'demand': 10, 'lsp': 2.0},
 9: {'X': 28.22240158796719, 'Y': 32.77348758894306, 'demand': 10, 'lsp': 1.0},
 10: {'X': 33.97454801807707,
  'Y': 35.86032199225494,
  'demand': 10,
  'lsp': 2.0},
 11: {'X': 44.81562907327437,
  'Y': 27.95544882481084,
  'demand': 10,
  'lsp': 1.0},
 12: {'X': 33.14595080867211, 'Y': 12.6343196568895, 'demand': 10, 'lsp': 2.0},
 13: {'X': 23.76113062808669,
  'Y': 30.51419550154245,
  'demand': 10,
  'lsp': 1.0},
 14: {'X': 32.98232604301873,
  'Y': 48.46738659073952,
  'demand': 10,
  'lsp': 2.0},
 15: {'X': 44.95672945626828,
  'Y': 23.64844993572046,
  'demand': 10,
  'lsp': 1.0},
 16: {'X': 19.82477031847436,
  'Y': 21.89642009958293,
  'demand': 10,
  'lsp': 2.0},
 17: {'X': 34.66974208784789,
  'Y': 24.78315930070959,
  'demand': 10,
  'lsp': 1.0},
 18: {'X': 37.66652717629993,
  'Y': 38.28858179129533,
  'demand': 10,
  'lsp': 2.0},
 19: {'X': 31.50759985757585,
  'Y': 22.49696991100695,
  'demand': 10,
  'lsp': 1.0},
 20: {'X': 22.16788903064911,
  'Y': 27.64268363102461,
  'demand': 10,
  'lsp': 2.0},
 21: {'X': 41.23502609692192,
  'Y': 13.65938596891804,
  'demand': 10,
  'lsp': 1.0},
 22: {'X': 22.65837198267138,
  'Y': 23.57065827216944,
  'demand': 10,
  'lsp': 2.0},
 23: {'X': 27.09984517880925,
  'Y': 41.22116167752722,
  'demand': 10,
  'lsp': 1.0},
 24: {'X': 40.51184932927578,
  'Y': 23.97176002388119,
  'demand': 10,
  'lsp': 2.0},
 25: {'X': 26.79469085190764,
  'Y': 25.46507152601756,
  'demand': 10,
  'lsp': 1.0},
 26: {'X': 32.62329687639233,
  'Y': 30.89526107249165,
  'demand': 10,
  'lsp': 2.0},
 27: {'X': 36.02587380790052,
  'Y': 43.08710749691104,
  'demand': 10,
  'lsp': 1.0},
 28: {'X': 32.743522928514, 'Y': 19.15755267670611, 'demand': 10, 'lsp': 2.0},
 29: {'X': 43.88632886262447,
  'Y': 41.53644773209304,
  'demand': 10,
  'lsp': 1.0},
 30: {'X': 23.19952762395271,
  'Y': 13.46051924069448,
  'demand': 10,
  'lsp': 2.0}}